<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Sidebar/menu -->
    <div class="nav-side-menu">
        <div class="brand">
            <img th:src="@{/static/images/stewie.png}" class="rounded-circle" height="60px" width="60px"/><br>
            <span>Welcome! <strong>Pet owner</strong></span><br>
            <a th:href="@{/logout}" class="logout"><i class="fa fa-sign-out"></i> Logout</a>
            <hr class="border border-success bg-sucess">
        </div>
        <i class="fa fa-bars fa-2x toggle-btn" aria-hidden="false" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <div class="nav-wrapper menu-content collapse out" role="navigation" id="menu-content">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link active sidebar-option message" href="#"><span><i class="fa fa-user-circle"></i></span> Overview</a>
                    <a class="nav-link sidebar-option" href="#"><span><i class="fa fa-github-alt"></i></span> Pets</a>
                    <a class="nav-link sidebar-option" href="#"><span><i class="fa fa-user-md"></i></span> Doctor</a>
                    <a class="nav-link sidebar-option" href="#"><span><i class="fa fa-history"></i></span> History</a>
                    <a class="nav-link sidebar-option" href="#"><span><i class="fa fa-newspaper-o"></i></span> News</a>
                    <a class="nav-link sidebar-option" href="#"><span><i class="fa fa-cog"></i></span> Settings</a>
                </nav>
            </div>
        </div>
    </div>
    <!-- Main content -->
    <div class="container-fluid pl-4" id="main">
        <!-- Overview header -->

    </div>
    <!-- Endsidebar -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/webjars/popper.js/1.12.9/dist/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0/dist/js/bootstrap.min.js}"></script>
<script  th:src="@{/static/js/nav_set_active.js}"></script>
</body>
</html>
